body {
	background-color: #A1A892;
}
.header {
	background-color: #9992A8;
	text-align: center;
}
.row {
	background-color: #9992A8;
}
.content h5 {
	font-size: 1.875em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
	text-align: center;
}
.content h6 {
	font-size: 1.5em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
}
.content p, a {
	font-size: 1em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
}
.about_us {
	font-size: 1.250em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
}
.footer  {
	border-top: 1px solid black;
	margin-top: 1.250em;
}
.footer p {
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
	padding-top: 1.250em;
	font-size: .75em;
	text-align: center;
}
.services {
	font-size: 1em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;	
}
.top-bar-section ul li a {
	font-size: 1em;
	font-family: 'Lobster', cursive, sans-serif, arial;
}
.get-directions {
	font-size: 25px;
}
p.warning {
	color: red;	
}
input.manual-location {
	width: 95%;
	font-size: 1.2em;
	padding: 5px;
}
.no-geolocation {
	display: none;	
}
.get-directions {
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding: 8px 13px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius:4px;
	border:1px solid #1A87B9;
	margin: 20px auto 0 auto;
	text-decoration: none;
	clear: both;
	display: block;
	text-align: center;
}
.get-directions:hover {
	text-decoration: underline;	
}
.submit-button {
	font-size: 1em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #fff;
}
#contacts-message textarea {
	height: 12em;
	max-height: 12em;
	width: 100%;
}
.small-block-grid-1 {
	margin-left: 0.625em;
	margin-right: 0.625em;
}
.name-field input {
	width: 21.875em;
	max-width: 100%;
}
.email-field input {
	width: 21.875em;
	max-width: 100%;
}
.error {
	width: 21.875em;
	max-width: 100%;
}
#messages {
	font-size: 1em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
	text-align: center;
	padding-left: 1.250em;
	padding-right: 1.250em;
}
#hideMe {
	-moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
.flex-video iframe {
	width: 85%;
	height: 75%;
}
#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
}
.info-hours li {
	font-size: 1em;
	font-family: 'Lobster', cursive, sans-serif, arial;
	color: #000000;
	text-align: left;
	list-style: none;
	padding-top: .625em;
}
.icons {
	font-size: .75em;
	text-align: left;
}
.copyright {
	font-size: .75em;
	text-align: right;
}
.webmaster {
	font-size: .75em;
	text-align: right;
}
.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #fff;
}
/*.img:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}*/
#thumbnail {
	width: 12.50em;
	height: 12.50em;
	overflow: hidden;
}